errbot:
  basedir: '/opt/errbot'
  datadir: '/var/lib/errbot'
  extra_plugin_dir: 'None'
  locale: 'en_US.UTF-8'
  log_level:  'INFO'
  backend:  'slack'
  token:  'yourtokenhere'
  admins:
    - 'user1'
    - 'user2'
  fullname:  'botname'
