errbot:
  base_dir: '/opt/errbot'
  data_dir: '/var/lib/errbot'
  extra_plugin_dir: '/opt/errbot/plugins'
  locale: 'en_US.UTF-8'
  log_level:  'INFO'
  backend:  'Slack'
  token:  'yourtokenhere'
  admins:
    - '@user1'
    - '@user2'
  fullname:  'botname'
