[Unit]
Description=Errbot
After=network.target

[Service]
Type=forking
User={{ user }}
Environment="CONFIGFILE={{ conf_file }}"
ExecStart={{ exec_file }} --daemon --config $CONFIGFILE
ExecStop=/bin/kill -SIGINT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
